# Copyright 2024 Alexandre Mahdhaoui
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: profiles.shaper.amahdha.com
spec:
  group: shaper.amahdha.com
  names:
    kind: Profile
    listKind: ProfileList
    plural: profiles
    singular: profile
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              additionalContent:
                description: AdditionalContent can be templated into the IPXETemplate
                  using the content's key.
                items:
                  properties:
                    exposed:
                      description: |-
                        Exposed when set to true will expose the content of the file to `/config/UUID`. The UUID is generated by the
                        operator.
                        When "Exposed", specifying '\{\{ .AdditionalContent.YOUR_CONFIG }}' in other additionalContents or in the ipxe
                        field will be templated as 'https://your.shaper.com/config/YOUR_CONFIG_UUID'.
                      type: boolean
                    inline:
                      description: Inline is used to directly template content from
                        the Custom Resource.
                      type: string
                    name:
                      description: Name of this additional content.
                      type: string
                    objectRef:
                      description: |-
                        ObjectRef allow users to specify any reference to a resource holding the desired configuration.
                        Such resources can be ContentMap, Secrets or any other kind of (custom) resources.
                      properties:
                        group:
                          description: Group is the group of the apiVersion.
                          type: string
                        jsonpath:
                          description: |-
                            JSONPath to the desired content in the resource using jsonpath notation. E.g. `.data.private\.key`
                            TODO: Validate this jsonpath in the webhook.
                          type: string
                        name:
                          description: Name is the name of the resource.
                          type: string
                        namespace:
                          description: Namespace is the namespace of the resource
                          type: string
                        resource:
                          description: Resource is the kind of the resource.
                          type: string
                        version:
                          description: Version is the version of the apiVersion.
                          type: string
                      required:
                      - group
                      - jsonpath
                      - name
                      - namespace
                      - resource
                      - version
                      type: object
                    postTransformations:
                      description: PostTransformations is a list of Transformers
                      items:
                        properties:
                          butaneToIgnition:
                            description: ButaneToIgnition transforms a butane yaml
                              document into a proper ignition one.
                            type: boolean
                          webhook:
                            description: Webhook allows users to specify a webhook
                              configuration to a post transformation.
                            properties:
                              basicAuthRef:
                                properties:
                                  group:
                                    description: Group is the group of the apiVersion.
                                    type: string
                                  name:
                                    description: Name is the name of the resource.
                                    type: string
                                  namespace:
                                    description: Namespace is the namespace of the
                                      resource
                                    type: string
                                  passwordJSONPath:
                                    description: PasswordJSONPath to the desired content
                                      in the resource using jsonpath notation. E.g.
                                      `.data.password`
                                    type: string
                                  resource:
                                    description: Resource is the kind of the resource.
                                    type: string
                                  usernameJSONPath:
                                    description: UsernameJSONPath to the desired content
                                      in the resource using jsonpath notation. E.g.
                                      `.data.username`
                                    type: string
                                  version:
                                    description: Version is the version of the apiVersion.
                                    type: string
                                required:
                                - group
                                - name
                                - namespace
                                - passwordJSONPath
                                - resource
                                - usernameJSONPath
                                - version
                                type: object
                              mTLSRef:
                                properties:
                                  caBundleJSONPath:
                                    description: CaBundleJSONPath to the desired content
                                      in the resource using jsonpath notation. E.g.
                                      `.data.'ca-bundle.pem'`
                                    type: string
                                  clientCertJSONPath:
                                    description: ClientCertJSONPath to the desired
                                      content in the resource using jsonpath notation.
                                      E.g. `.data.'client.crt'`
                                    type: string
                                  clientKeyJSONPath:
                                    description: ClientKeyJSONPath to the desired
                                      content in the resource using jsonpath notation.
                                      E.g. `.data.'client.key'`
                                    type: string
                                  group:
                                    description: Group is the group of the apiVersion.
                                    type: string
                                  name:
                                    description: Name is the name of the resource.
                                    type: string
                                  namespace:
                                    description: Namespace is the namespace of the
                                      resource
                                    type: string
                                  resource:
                                    description: Resource is the kind of the resource.
                                    type: string
                                  tlsInsecureSkipVerify:
                                    description: TLSInsecureSkipVerify allow usage
                                      of self-signed certificates.
                                    type: boolean
                                  version:
                                    description: Version is the version of the apiVersion.
                                    type: string
                                required:
                                - clientCertJSONPath
                                - clientKeyJSONPath
                                - group
                                - name
                                - namespace
                                - resource
                                - tlsInsecureSkipVerify
                                - version
                                type: object
                              url:
                                type: string
                            required:
                            - url
                            type: object
                        required:
                        - butaneToIgnition
                        type: object
                      type: array
                    webhook:
                      description: |-
                        Webhook is a source type used to allow fetching configurations from any kind of sources, e.g. from an S3
                        bucket.
                      properties:
                        basicAuthRef:
                          properties:
                            group:
                              description: Group is the group of the apiVersion.
                              type: string
                            name:
                              description: Name is the name of the resource.
                              type: string
                            namespace:
                              description: Namespace is the namespace of the resource
                              type: string
                            passwordJSONPath:
                              description: PasswordJSONPath to the desired content
                                in the resource using jsonpath notation. E.g. `.data.password`
                              type: string
                            resource:
                              description: Resource is the kind of the resource.
                              type: string
                            usernameJSONPath:
                              description: UsernameJSONPath to the desired content
                                in the resource using jsonpath notation. E.g. `.data.username`
                              type: string
                            version:
                              description: Version is the version of the apiVersion.
                              type: string
                          required:
                          - group
                          - name
                          - namespace
                          - passwordJSONPath
                          - resource
                          - usernameJSONPath
                          - version
                          type: object
                        mTLSRef:
                          properties:
                            caBundleJSONPath:
                              description: CaBundleJSONPath to the desired content
                                in the resource using jsonpath notation. E.g. `.data.'ca-bundle.pem'`
                              type: string
                            clientCertJSONPath:
                              description: ClientCertJSONPath to the desired content
                                in the resource using jsonpath notation. E.g. `.data.'client.crt'`
                              type: string
                            clientKeyJSONPath:
                              description: ClientKeyJSONPath to the desired content
                                in the resource using jsonpath notation. E.g. `.data.'client.key'`
                              type: string
                            group:
                              description: Group is the group of the apiVersion.
                              type: string
                            name:
                              description: Name is the name of the resource.
                              type: string
                            namespace:
                              description: Namespace is the namespace of the resource
                              type: string
                            resource:
                              description: Resource is the kind of the resource.
                              type: string
                            tlsInsecureSkipVerify:
                              description: TLSInsecureSkipVerify allow usage of self-signed
                                certificates.
                              type: boolean
                            version:
                              description: Version is the version of the apiVersion.
                              type: string
                          required:
                          - clientCertJSONPath
                          - clientKeyJSONPath
                          - group
                          - name
                          - namespace
                          - resource
                          - tlsInsecureSkipVerify
                          - version
                          type: object
                        url:
                          type: string
                      required:
                      - url
                      type: object
                  required:
                  - name
                  - postTransformations
                  type: object
                type: array
              ipxeTemplate:
                type: string
            required:
            - ipxeTemplate
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
