#!/usr/bin/env bash

export KIND_BINARY="$(which kind)"
export CONTAINER_ENGINE="$(which docker)"
export ELEVATED_PREPEND_CMD="sudo -E"

# TODO: verify if config below is required.
export IPXER_CONFIG_PATH=.tmp/e2e/config.yaml
cat <<EOF | yq -o json | tee "${IPXER_CONFIG_PATH}"
assignmentNamespace: shaper
profileNamespace: shaper

kubeconfigPath: "$(yq '.kindenv.kubeconfigPath' .project.yaml)"

probesServer:
  livenessPath: /livez
  readinessPath: /readyz
  port: 8082

metricsServer:
  path: /metrics
  port: 8081

apiServer:
  port: 8080
EOF
